---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import CtaSection from "./lovable/CtaSection";
import EmotionalSection from "./lovable/EmotionalSection";
import Footer from "./lovable/Footer";
import HeroSection from "./v0/HeroSection";
import ProcessSection from "./lovable/ProcessSection";
import ServicesSection from "./lovable/ServicesSection";
import StatsSection from "./lovable/StatsSection";
import TestimonialsSection from "./lovable/TestimonialsSection";
import ValuesSection from "./lovable/ValuesSection";
import VisionSection from "./lovable/VisionSection";
import WhySection from "./lovable/WhySection";
---

<div
  class="min-h-screen bg-gradient-to-br from-slate-50 via-green-50 to-orange-50"
>
  <HeroSection client:load />
  <VisionSection client:load />
  <EmotionalSection client:load />
  <StatsSection client:load />
  <ServicesSection client:load />
  <WhySection client:load />
  <ProcessSection client:load />
  <ValuesSection client:load />
  <TestimonialsSection client:load />
  <CtaSection client:load />
  <Footer client:load />
</div>
